version: "3.8"

services:
  triton:
    image: nvcr.io/nvidia/tritonserver:23.10-py3
    container_name: triton_detector
    command: >
      tritonserver
      --model-repository=/models
      --http-port=8000
      --grpc-port=8001
      --metrics-port=8002
    volumes:
      - ./models:/models
    ports:
      - "8000:8000"
      - "8001:8001"
      - "8002:8002"
